<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hello there! I’m Romain TISSOT, an avid learner who thrives on exploring, experimenting, failing, and trying again.
        I’ve been passionate about robotics for a long time, which eventually (and weirdly) inspired me to take on the challenging task of writing a PhD thesis on the subject.</p>
      </div>
      <div class="col-lg-4">
        <p>Whether you're a company seeking a profile like mine, a student eager to deepen your knowledge with an engineer, or an independent professional in need of support with your projects, you’ve come to the right place—I’m available and ready to help!</p>
      </div>
    </div>
    <div class="row"> 
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1>Skills</h1>
          <hr class="star-light">
        </div>
      </div>     
      <div> 
        <div class="list-groups"> 
          <!--<div class="list-group col-md-6" title="Expert"> -->
          <div class="list-group col-lg-4 col-lg-offset-2" title="Expert"> 
            <table class="table-cv list-group-table"> 
              <tbody> 
                <tr> 
                  <td class="list-group-category-icon"> 
                    <i class="fa-solid fa-brain"></i> 
                  </td> 
                  <td colspan="1" class="list-group-category"> Machine Learning</td> 
                </tr> 
                <tr> 
                  <td></td> 
                  <td class="list-group-name"> 
                    <b>Deep Learning</b> 
                  </td> 
                </tr> <tr> 
                  <td></td> 
                  <td class="list-group-name"> 
                    <b>Multilayer perceptron</b> 
                  </td> 
                </tr> 
                <tr> 
                  <td></td> 
                  <td class="list-group-name"> 
                    <b>Physics-informed neural networks</b> 
                  </td> 
                </tr>  
                <tr> 
                  <td></td> 
                  <td class="list-group-name"> 
                    <b>Non-algebraic equation solving application</b> 
                  </td> 
                </tr> 
                <tr> 
                  <td></td> 
                  <td class="list-group-name"> 
                    <b>Object Detection</b> 
                  </td> 
                </tr>
                <tr> 
                  <td></td> 
                  <td class="list-group-name"> 
                    <b>Chatbots</b> 
                  </td> 
                </tr> 
              </tbody> 
            </table> 
          </div> 
          <!--<div class="list-group col-md-6" title="Expert">
            <table class="table-cv list-group-table">
              <tbody>
                <tr>
                  <td class="list-group-category-icon"><i class="fa-solid fa-eye"></i></td>
                  <td colspan="1" class="list-group-category">Computer Vision</td>
                </tr>
                <tr>
                  <td></td>
                  <td class="list-group-name"><b>Image Processing</b></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="list-group-name"><b>Steganography</b></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="list-group-name"><b>Image Manipulation Detection</b></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="list-group-name"><b>Object Tracking</b></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="list-group-name"><b>Image Segmentation</b></td>
                </tr>
              </tbody>
            </table>
          </div>-->

          <div class="list-group col-lg-4" title="Advanced">
            <table class="table-cv list-group-table">
              <tbody>
                <tr>
                  <td class="list-group-category-icon"><i class="fa-solid fa-code"></i></td>
                  <td colspan="1" class="list-group-category"> Programming Languages</td>
                </tr>
                <tr>
                  <td></td>
                  <td class="list-group-name"><b>Python</b></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="list-group-name"><b>C/C++</b></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="list-group-name"><b>HTML/CSS/JS</b></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="list-group-name"><b>SQL</b></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="list-group-name"><b>Maple</b></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="list-group-name"><b>JAVA</b></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="list-group col-lg-4 col-lg-offset-2" title="Advanced">
            <table class="table-cv list-group-table">
              <tbody>
                <tr>
                  <td class="list-group-category-icon"><i class="fa-solid fa-cogs"></i></td>
                  <td colspan="1" class="list-group-category"> Frameworks and Libraries</td>
                </tr>
                <tr>
                  <td></td>
                  <td class="list-group-name"><b>PyTorch</b></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="list-group-name"><b>TensorFlow</b></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="list-group-name"><b>Keras</b></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="list-group-name"><b>OpenCV</b></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="list-group-name"><b>FastAPI</b></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="list-group-name"><b>scikit-learn</b></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="list-group col-lg-4" title="Advanced">
            <table class="table-cv list-group-table">
              <tbody>
                <tr>
                  <td class="list-group-category-icon"><i class="fa-solid fa-tools"></i></td>
                  <td colspan="1" class="list-group-category"> Development Tools</td>
                </tr>
                <tr>
                  <td></td>
                  <td class="list-group-name"><b>Git</b></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="list-group-name"><b>CI/CD Pipelines</b></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="list-group-name"><b>GitHub Actions</b></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="list-group-name"><b>GitLab</b></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="list-group-name"><b>Bitbucket</b></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="list-group-name"><b>Jenkins</b></td>
                </tr>
              </tbody>
            </table>
          </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="../CV/CV_Romain_Tissot_2025.pdf" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download my resume
        </a>
      </div>
    </div>
  </div>
</section>
<!--https://github.com/romaintissot/romaintissot.github.io/blob/main/CV/CV_Romain_Tissot_2025.pdf-->