<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hello there! I’m Romain TISSOT, an avid learner who thrives on exploring, experimenting, failing, and trying again.
        I’ve been passionate about robotics for a long time, which eventually (and weirdly) inspired me to take on the challenging task of writing a PhD thesis on the subject.</p>
      </div>
      <div class="col-lg-4">
        <p>Whether you're a company seeking a profile like mine, a student eager to deepen your knowledge with an engineer, or an independent professional in need of support with your projects, you’ve come to the right place—I’m available and ready to help!</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/romaintissot/romaintissot.github.io/blob/main/CV/CV_Romain_Tissot_2025.pdf" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download my resume
        </a>
      </div>
    </div>
  </div>
</section>
